@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

@theme {
    --color-primary-dark: #101014;
    --color-secondary-dark: #272727;
    --color-primary-light: #FEFCF6;
    --color-secondary-light: #FDF7ED;
    --color-primary: #FDD73A;
}